* {
    margin: 0;
    padding: 0;
    border: 0;
}

.body {
    background-color:#b4ceff;
}

header {
    text-align: center;
    background-color: #ffff56;
    color: #494949;
}

.area {
    justify-content: center;
    margin-bottom: auto;
}

.info {
    justify-content: center;
}

#newBut {
    background-color: #0011ff;
    color: white;
    display: flex;
    margin-bottom: 3%;
    margin-left: 3%;
    height: 30px;
    width: 25%;
    border-radius: 4px;
    text-align: center;
}

#fiveday {
    column-count: 5;
    justify-content: space-evenly;
}

.block {
    padding: 15px;
    width: fit-content;
}